In [2]:
import pandas as pd

In [6]:
filmdf = pd.read_csv(r"C:\Users\oriha\Desktop\Serious Sql Excercises\csv\dvd_rentals_film_list.csv")
filmdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997 entries, 0 to 996
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fid          997 non-null    int64
 1   title        997 non-null    object
 2   description  997 non-null    object
 3   category     997 non-null    object
 4   price        997 non-null    float64
 5   length       997 non-null    int64
 6   rating       997 non-null    object
 7   actors       997 non-null    object
dtypes: float64(1), int64(2), object(5)
memory usage: 62.4+ KB

In [7]:
filmdf["category"].unique() # perfect fit for a category type

array(['New', 'Animation', 'Travel', 'Comedy', 'Horror', 'Action',
       'Games', 'Family', 'Drama', 'Documentary', 'Classics', 'Sports',
       'Sci-Fi', 'Music', 'Children', 'Foreign'], dtype=object)

In [15]:
filmdf["category"] = filmdf["category"].astype("category")
# lets also switch rating into a category
filmdf["rating"] = filmdf["rating"].astype("category")
filmdf.info()
#its a small data set but we shrunk it about 20%.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997 entries, 0 to 996
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fid          997 non-null    int64
 1   title        997 non-null    object
 2   description  997 non-null    object
 3   category     997 non-null    category
 4   price        997 non-null    float64
 5   length       997 non-null    int64
 6   rating       997 non-null    category
 7   actors       997 non-null    object
dtypes: category(2), float64(1), int64(2), object(3)
memory usage: 49.7+ KB

In [24]:
# How Many Records first method
#filmdf.info()
#second
#filmdf.shape
# third as we know there arent any null values
#filmdf["category"].count()
#fourth
len(filmdf)

997

In [26]:
# Show Unique Column Values in ratings
filmdf["rating"].unique()

['PG-13', 'R', 'NC-17', 'G', 'PG']
Categories (5, object): ['G', 'NC-17', 'PG', 'PG-13', 'R']

In [27]:
# Count of Unique Values in category
len(filmdf['category'].unique())

16

In [33]:
# Group By Counts based on category
filmdfgrp = filmdf.groupby('rating')
filmdfgrp["rating"].count().sort_values(ascending = False)

rating
PG-13    223
NC-17    210
PG       194
R        193
G        177
Name: rating, dtype: int64

In [49]:
# Adding a Percentage Column
newdf = filmdfgrp["rating"].count().sort_values(ascending = False).to_frame()
newdf["percentage"] = newdf["rating"] / newdf["rating"].sum()
newdf

        rating  percentage
rating
PG-13      223    0.223671
NC-17      210    0.210632
PG         194    0.194584
R          193    0.193581
G          177    0.177533

In [50]:
# rounding percentage to 2 decimal points
newdf['percentage'] = (newdf['percentage'] * 100).round(2)
newdf

        rating  percentage
rating
PG-13      223       22.37
NC-17      210       21.06
PG         194       19.46
R          193       19.36
G          177       17.75

In [58]:
# grouping by multiple columns
newgrpdf = filmdf.groupby(['rating','category'])
newgrpdf['rating'].count().sort_values(ascending = False)

rating  category
PG-13   Drama        22
NC-17   Music        20
PG-13   Foreign      19
        Animation    19
PG      Family       18
                     ..
NC-17   Horror        7
PG      Drama         7
R       Drama         5
PG      Games         5
G       Music         2
Name: rating, Length: 80, dtype: int64

In [61]:
#exercise one  - Which actor_id has the most number of unique film_id records in the dvd_rentals.film_actor table?
filmactor = pd.read_csv(r"C:\Users\oriha\Desktop\Serious Sql Excercises\csv\dvd_rentals_film_actor.csv")
filmactor.groupby("actor_id").film_id.nunique().sort_values(ascending = False)

actor_id
107    42
102    41
198    40
181    39
23     37
       ..
71     18
186    16
35     15
199    15
148    14
Name: film_id, Length: 200, dtype: int64

In [64]:
# How many distinct fid values are there for the 3rd most common price value in the
rentalsnicer = pd.read_csv(r"C:\Users\oriha\Desktop\Serious Sql Excercises\csv\dvd_rentals_nicer_but_slower_film_list.csv")
rentalsnicer.groupby("price").fid.nunique().sort_values()

price
2.99    323
4.99    334
0.99    340
Name: fid, dtype: int64

In [65]:
# exercise three - How many unique country_id values exist in the dvd_rentals.city table?
rentalcities = pd.read_csv(r"C:\Users\oriha\Desktop\Serious Sql Excercises\csv\dvd_rentals_city.csv")
rentalcities["country_id"].nunique()

109

In [66]:
# exercise 4 -What percentage of overall total_sales does the Sports category make up \
# in the dvd_rentals.sales_by_film_category table
salesbycat = pd.read_csv(r"C:\Users\oriha\Desktop\Serious Sql Excercises\csv\dvd_rentals_sales_by_film_category.csv")
salesbycat["SumSales"] = salesbycat["total_sales"].sum()
salesbycat["salespercent"] = salesbycat["total_sales"] / salesbycat["SumSales"]
format_dict = {'salespercent': '{:.2%}'} # to format as percentage
salesbycat.style.format(format_dict)

In [67]:
# exercise five - What percentage of unique fid values are in the Children category in the dvd_rentals.film_list table?
filmlist =  pd.read_csv(r"C:\Users\oriha\Desktop\Serious Sql Excercises\csv\dvd_rentals_film_list.csv")
(filmlist.groupby("category").fid.nunique() / filmlist["fid"].nunique()).sort_values(ascending = False)

category
Foreign        0.073220
Sports         0.073220
Family         0.069208
Documentary    0.068205
Animation      0.066199
Action         0.064193
New            0.063190
Drama          0.061184
Games          0.061184
Sci-Fi         0.061184
Children       0.060181
Comedy         0.058175
Classics       0.057172
Horror         0.056169
Travel         0.056169
Music          0.051153
Name: fid, dtype: float64